<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="ProductCtrl">
      <h1>Lista de Produtos</h1>

      <div class="filters">
        <input
          type="text"
          ng-model="filterName"
          placeholder="Filtrar por nome"
          ng-change="filterProducts()"
        />
        <select ng-model="categoryFilter" ng-change="filterProducts()">
          <option value="">Selecione uma categoria</option>
          <option ng-repeat="category in categories" value="{{category}}">
            {{category}}
          </option>
        </select>
      </div>

      <div class="container-products" ng-repeat="product in paginatedProducts">
        <!-- OBS: Estilizei inline, não sei o motivo, mas por mais que dou npm run build:css, não está compilando -->
        <div
          style="
            border-radius: 1em;
            border: 1px solid black;
            padding: 1em;
            margin-top: 1em;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          "
        >
          <p><strong>Nome:</strong> {{product.nome}}</p>
          <p><strong>Categoria:</strong> {{product.categoria}}</p>
          <p>
            <strong>Preço original:</strong>
            {{formatPrice(product.preco.original)}}
          </p>
          <p>
            <strong>Preço promocional:</strong>
            {{formatPrice(product.preco.promocional)}}
          </p>
        </div>
      </div>

      <div class="pagination">
        <button ng-disabled="currentPage === 1" ng-click="changePage('prev')">
          Anterior
        </button>
        <span>Página {{currentPage}} de {{totalPages}}</span>
        <button
          ng-disabled="currentPage === totalPages"
          ng-click="changePage('next')"
        >
          Próxima
        </button>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="js/controllers/products/filterName.js"></script>
    <script src="js/controllers/products/categoryFilter.js"></script>
    <script src="js/controllers/products/pagination.js"></script>
    <script src="js/controllers/products/productCtrl.js"></script>
  </body>
</html>
